.img{
    border-radius: 50%;
    width: 30%;    
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.icon{
    width: 7%;
    height: auto;
}
.imgnav{
    width: 30%;

}

body{
    /*background-image: url("fondo.png");*/
}
